<% if @product.discounted? %>
  <h4>Discounted Item!</h4>
<% else %>
  <h4>Everyday Sale!</h4>
<% end %>

<%= form_tag %>
  <%= hidden_field_tag , @wiki_article.title %>
<% end %>

<h2><%= @product.product_type %></h2>
<h2 class="<%= 'red-price' if @product.discounted? %>">Original Price: <%= number_to_currency(@product.price) %></h2>
<h2>Tax: <%= number_to_currency(@product.tax) %></h2>
<h2>Total: <%= number_to_currency(@product.total) %></h2>
<h2><%= @product.description %></h2>

<h5>Updated On: <%= @product.friendly_update_at %></h5>

<h6>Supplier: <%= @product.supplier.name %></h6>

<% if current_user && current_user.admin %>
  <%= link_to "Delete Product", "/products/#{ @product.id }", method: :delete, class: "btn btn-danger"%>
  <%= link_to "Edit Product", "/products/#{@product.id}/edit", method: :get, class: "btn btn-primary" %>
<% end %>

<h2>Categories:</h2>

<% @product.categories.each do |category|%>
  <h4><%= category.name %></h2>
<% end %>

<% if current_user %>
  <%= form_tag '/carted_products', method: :post do %>
    <div>
      Product_id: <input type="text" name="product_id">
    </div>
    <div>
      Quantity: <input type="text" name="quantity">
    </div>
    <div>
    <input type="submit" value="Add To Cart">
    </div>
  <% end %>

<% else %>
   <p>Please <a href="/login">Login</a> to purchase items</p>
<% end %>